*{
  margin: 0 ;
  padding: 0 ;
  border: 0 ;
  outline: none ;
  box-sizing: border-box ;
}

body{
  height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #06283D !important;
}

